<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="twitter:card" content="{% if page.twittercardtype == nil or page.twittercardtype == "" %}summary{% else %}{{ page.cardtype }}{% endif %}" />
    <meta name="twitter:site" content="@cloudyRproject" />
    <meta name="twitter:creator" content="@cloudyRproject" />
    <meta property="twitter:image" content="{% if page.twitterimage == nil or page.twitterimage == "" %}https://cloudyr.github.io/images/cloudy_logo.png{% else %}{{ page.twitterimage }}{% endif %}" />
    <meta property="twitter:image:alt" content="{% if page.twitterimagealt == nil or page.twitterimagealt == "" %}the cloudyr project logo{% else %}{{ page.twitterimagealt }}{% endif %}" />
    <meta property="og:url" content="http://cloudyr.github.io/{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.description == nil or page.description == "" %}{{ page.title }}{% else %}{{ page.description }}{% endif %}" />
    <meta property="og:image" content="https://cloudyr.github.io/images/cloudy_logo.png" />
    <meta name="description" content="the cloudyr project">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
    <title>the cloudyr project</title>
  </head>
  <body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NP9KJ2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NP9KJ2');</script>
<!-- End Google Tag Manager -->

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <span id="forkme_banner" >
            <a style="color:white;" href="https://github.com/cloudyr">Package List</a>
            <a style="color:white;" href="https://github.com/cloudyr">GitHub Project Page</a>
          </span>
          
          <h1 id="project_title"><a href="http://cloudyr.github.io">the cloudyr project</a></h1>
          <h2 id="project_tagline">make R cloudier!</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
